/* general styling */




html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    color: red;
    
}

::selection {
    color: red;
    background: yellow;
  }

body {
    display: flex;
    flex-flow: column;
}

li {
    color: red;
    font-family: 'Manrope', sans-serif;
    font-weight:bold;
    letter-spacing: 2px;
}

p {
    color: red;
    
}

ul {
    list-style: none;
}

/* Navbar Styling */

.navbar {
    
    margin-top: 100px;
    display: flex;
    margin-left: 18rem;
    width: 100%;
    max-height: 5rem;

}

.ul-navbar {
    display: flex;

    margin-right: auto;
    justify-content: space-evenly;
    width: 80%;

}

.navbar a {
    color: red;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 white;
    padding: 10px;
    transition: color 0.3s ease-in-out, box-shadow .3s ease-in;
    font-size: 1.2rem;
    border-bottom: 1px solid;


}

.navbar a:hover {

    color: white;
    box-shadow: inset 200px 0 0 0 red;
    
}


/* Company Section Styling */

.company-section {
    position: absolute;
    max-width: 200px;
    height: 100%;
    margin-left: 4rem;
    


}

.finifugal {

    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    -webkit-text-fill-color: white;


}



.company-info {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-top: 3rem;
    
}

/* Recent Publications Section */



.section-recent {

    display: flex;
    flex-flow: column;
    margin-top: 5rem;
    border-top: 1px solid red;
    margin-left: 18rem;

}

.container-text-recent {
    display: flex;
    flex-flow: column;

    width: 100%;
    max-width: 800px;
    margin-left: 4rem;


}

.container-text-recent p{
    text-align: left;
    color:

}



.publications {
    display: flex;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-top: 1px solid red;
    padding-top: 3rem;
    
}

.subtitle-sections {
    color: red;
    text-shadow: -1px 1px white;
    font-size: 1.3rem;
    margin-top: 4rem;

    text-align: left
   
}

.subheader-recently {
    display: absolute;
    color: red;
    font-size: 1rem;
    margin-top: 4rem;

   
}

.section-recent img {

    height: 50%;
    padding: 15px;
    background-color: white;
    max-width: 20%;
    transition: background-color 0.1s ease-in;
    
}

.section-recent img:hover {
    background: rgba(255, 122, 89, .5);
    padding: 15px;
}

.description {
    width: 100%;

}

.author {
    font-weight: 100;
}

.year {
    font-weight: 100;
    font-size: 0.9rem;
}